{
    "presets": [
      ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 52",
          "FireFox >= 44",
          "Safari >= 7",
          "Explorer 10",
          "last 4 Edge versions"
        ]}
    }],
      "react"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      ["module-resolver",{
          "root": ["./"],
          "alias": {
            "@modules": "./node_modules",
            "@root": "./src/",
            "@images": "./src/images",
            "@components": "./src/components",
            "@layouts": "./src/layouts",
            "@views": "./src/views",
            "@styles": "./src/styles/",
            "@data": "./data/"
          }
        }],
      "react-hot-loader/babel"
    ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    }
  }
  }