@import '../node_modules/semantic-ui-css/components/site.css';
@import '../node_modules/semantic-ui-css/components/reset.css';
/* @import '../node_modules/semantic-ui-css/components/transition.css'; */
/* @import '../node_modules/semantic-ui-css/components/form.css'; */
/* @import '../node_modules/semantic-ui-css/components/label.css'; */
@import '../node_modules/semantic-ui-css/components/icon.css'; 

@import '../node_modules/semantic-ui-css/components/grid.css';

@import '../node_modules/semantic-ui-css/components/sidebar.css';
@import '../node_modules/semantic-ui-css/components/menu.css';
@import '../node_modules/semantic-ui-css/components/segment.css';
@import '../node_modules/semantic-ui-css/components/button.css';
@import '../node_modules/semantic-ui-css/components/image.css';
@import '../node_modules/semantic-ui-css/components/list.css';

body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    direction:ltr;
}

/* menu icon position to left */
.ui.vertical.menu .item > i.icon {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

/* list padding */
.ui.list > .item > .icon + .content {
    padding: 0;
}

.view-content{
    padding: 10px;
}